* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos del header*/
header {
    background-color: #4e614f;
    background-image: url('imageneslanding/cañamo.jpg');
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px;
    text-align: center;
    color: rgb(176, 248, 159);
    height: 30vh;
    margin: 20px;

}

header nav h1 {
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke: #000000 1px;
    
}

header .registroHeader {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

header .registroHeader button {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #03420b;
    color: aliceblue;
    background-color: #03420b;
    box-shadow: inset 0 0 30px #000000;
}

/*Estilos del body*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #41532f;
    color: #87f095;
}

/*Estilos del main*/
.jumbotron {
    -webkit-text-stroke: #000000 1px;
    background-color: #a3b18a;
    text-align: center;
    padding: 50px;
    gap: 20px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.jumbotronBoton {
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: #03420b;
    box-shadow: inset 0 0 30px #000000;
    padding: 15px;
    border-radius: 30px;
    margin: auto;
    color: aliceblue;
    -webkit-text-stroke: #016812 0.5px;
    font-size: 20px;
}

/*Estilos de la sección de productos imagen*/
.productos {
    -webkit-text-stroke: #000000 1px;
    background-color: #a3b18a;
    width: 97%;
    justify-items: center;
    gap: 20px;
    margin: 20px;
    padding: 100px;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    display: grid;
    row-gap: 30px;
   
}

.productos h2 {

    text-align: center;
    background-color: #067515;
    border-radius: 30px;
    width: 50%;
    -webkit-text-stroke: #000000 1px;
    box-shadow: inset 0 0 30px #000000;
    padding: 10px;
    margin-top: 0;
    position: relative;
    top: -50px;
}

.contenedorProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: start;
    text-align: center;
}
.contenedorProductos p {
    background-color: #0cbe24;
    border-radius: 30px;
    width: 50%;
    -webkit-text-stroke: #000000 1px;
    box-shadow: inset 0 0 30px #000000;
    padding: 10px;
    margin-top: 0;
    position: relative;
    top: -20px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
   

}
/*Estilos de la sección de imagen de referencia*/

.imagenReferencia img {
    max-width: 100%;
    height: 400px;
    border-radius: 30px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: -35px;

}
.imagenReferencia p {
     display: flex;
    flex-direction: column;
    top: -10px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #067515;
    padding: 10px;
    border-radius: 20px;
    -webkit-text-stroke: #000000 1px;
    box-shadow: inset 0 0 30px #000000;
    position: relative;
    top: -37px;
}



/*Estilos de la sección de video arquitectura*/
.videoArqui {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 500px;
    position: relative;
    top: -30px;
}

.videoArqui iframe {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.videoArqui p {
    display: flex;
    flex-direction: column;
    top: -10px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #067515;
    padding: 10px;
    border-radius: 20px;
    -webkit-text-stroke: #000000 1px;
    box-shadow: inset 0 0 30px #000000;
    position: relative;
}

/*Estilos de la sección de pantalon*/
.fotoTela a {
        display: flex;
    flex-direction: column;
    top: -10px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #067515;
    padding: 10px;
    border-radius: 20px;
    -webkit-text-stroke: #000000 1px;
    box-shadow: inset 0 0 30px #000000;
    position: relative;


}

.fotoTela img {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 100%;
    height: 10px;
    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 7px;
    top: 10px;

}

/*Estilos de la sección de conenedorAdicionales*/
.contenedorAdicionales {
    -webkit-text-stroke: #000000 1px;
    background-color: #a3b18a;
    width: 97%;
    margin: 20px;
    justify-items: center;
    gap: 20px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat( 1fr);
    border-radius: 30px;
}

/*Estilos de la sección de footer*/
.footer {
   -webkit-text-stroke: #000000 1px;
    background-color: #a3b18a;
    width: 97%;
    margin: 20px;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 30px;
}
.footer .info {
    
    background-color: #067515;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 20px;
    
    
}




/*Media general para pantalla*/
@media (max-width: 768px) {

    .contenedorAdicionales,
    .contenedorProductos {
        grid-template-columns: 1fr;
    }

    /*Media para el header*/
    header {
        padding: 50px;
        height: auto;
        text-align: center;
    }

    header nav h1 {
        font-size: 30px;
    }
     header .registroHeader {
        justify-content: center;
        width: auto;
    }

    /*Media para el jumbotron*/
    .jumbotron {
        padding: 30px;
    }

    .jumbotronBoton {
        width: 60%;
        font-size: 16px;
    }

    /*Media para la sección de productos*/
    .productos {
        padding: 50px;
    }

    .productos h2 {
        width: 70%;
        font-size: 24px;
        top: -30px;
    }

    /*Media para la sección de imagen de referencia*/
    .imagenReferencia img {
        height: auto;
    }

    /*Media para la sección de video arquitectura*/
    .videoArqui {
        height: auto;
        flex-direction: column;
    }

    .videoArqui iframe {
        height: auto;
    }

    /*Media para la sección de pantalon*/
    .fotoTela a {
        width: 70%;
        font-size: 16px;
        top: -10px;
    }

    .fotoTela img {
        height: auto;
    }

}